<div id="contact-form-section">
    <div class="ui container"> 
        <h2 id="contact-form-header" class="ui header">Contact Me</h2>
        <div class="ui inverted form">
            <div class="two fields">
                <div class="field">
                    <label>Full Name</label>
                    <div class="ui left icon input">
                        <input type="text" placeholder="Full Name">
                        <i class="users icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Email Address</label>
                    <div class="ui left icon input">
                        <input placeholder="Email Address" type="text">
                        <i class="at icon"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Subject</label>
                <div class="ui left icon input">
                    <input placeholder="Subject" type="text">
                    <i class="mail icon"></i>
                </div>
            </div>
            <div class="field">
                <label>Message</label>
                <textarea placeholder="Message" rows="5"></textarea>
            </div>
            <div class="inline field">
                <div class="ten wide column" id="recaptcha"> 
                    <div class="g-recaptcha" data-theme="dark" data-callback="recaptchaCallback" data-sitekey="6LdcHBkTAAAAAJcAl0cDkZMvoBnCKTFC492aJbnu" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                </div>
            </div>
            <div class="ui submit button">Submit   <i class="send icon"></i></div>
        </div>
    </div>
</div>


<div class="ui middle aligned animated list">
                        <div class="item">
                            <i class="big mail icon white-text"></i>
                            <div class="content">
                                <div class="white-text header">agencare@uwo.ca</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="big phone icon white-text"></i>
                            <div class="content">
                                <div class="white-text header">519-702-5293</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="big github icon white-text"></i>
                            <div class="content">
                                <div class="white-text header">agencare89</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="big linkedin icon white-text"></i>
                            <div class="content">
                                <div class="white-text header">https://linkedin.com/adamgencarelli</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="big facebook f icon white-text"></i>
                            <div class="content">
                                <div class="white-text header">facebook</div>
                            </div>
                        </div>
                    </div>